{:nrepl {:port 7002}
 :source-paths ["src/cljs"]
 :dependencies [[binaryage/devtools "1.0.3"]
                [nrepl "0.8.3"]
                [reagent "1.1.0"]
                [cljs-ajax "0.8.4"]
                [re-frame "1.3.0"]
                [day8.re-frame/tracing      "0.6.2"]
                [day8.re-frame/re-frame-10x "1.2.2"]]
 :dev-http {8080 "resources/public/"}
 :builds       {:app {:target     :browser
                      :output-dir "resources/public/"
                      :asset-path "/js"
                      :modules    {:app {:entries [test.main.core]
                                         :init-fn test.main.core/init!}}
                      :devtools   {:after-load test.main.core/mount-root
                                   :preloads [day8.re-frame-10x.preload]}
                      :dev {:compiler-options {:closure-defines 
                                               {re-frame.trace.trace-enabled? true
                                                day8.re-frame.tracing.trace-enabled? true}}}
                      :release {:build-options
                                {:ns-aliases
                                 {day8.re-frame.tracing day8.re-frame.tracing-stubs}}}}}}
